<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../asset/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/8e59f484ab.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap" rel="stylesheet">
    <title>Fútbol Masculino</title>
</head>

<body>

    <!-- Encabezado -->
    <header class="menu">
        <nav>
            <ul class="navegacion">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Disiplinas</a>
                    <ul>
                        <li><a href="./futbol-femenino.html">Fútbol Femenino</a></li>
                        <li><a href="./futbol-masculino.html">Fútbol Maculino</a></li>
                        <li><a href="./basquet-femenino.html">Basquet Femenino</a></li>
                        <li><a href="./basquet-masculino.html">Basquet Masculino</a></li>
                    </ul>
                </li>
                <li><a href="./les-jugadores.html">Jugadores</a></li>
                <li><a href="./el-club.html">El Club</a></li>
            </ul>
        </nav>
    </header>
    <!-- Fin de Encabezado -->

    <!-- Inicio de Cabecera del Segmento -->
    <div class="futbolMasculino">
        <h1>Fútbol Masculino</h1>
        <p>Luego de un 2020 detenido en el tiempo en cuanto a competencia a causa de la pandemia, año en el que el club
            había confirmado su participación en la LFB, el 2021 arrancó con sueños renovados. De acuerdo a lo informado
            por la Mesa Ejecutiva de la Asociación de Clubes (AdC), el 12 de Agosto comenzará la Liga Femenina de
            Básquet de la cual, como marca la historia, el Club de Barrio dirá presente en esta cuarta edición del
            certamen.
            En función del reciente anuncio, se programó para este jueves el Media Day, jornada en la que se presentaron
            las jugadoras del plantel y Cuerpo Técnico, además de llevar adelante el característico set de fotos.
            Las Jugadoras asisitieron al Estadio del cuarto piso de la sede. Y entre risas y música de fondo,
            vivieron un backstage típico de una previa de torneo: ¡A pura emoción y ganas de volver a competir!</p>
    </div>
    <!-- Fin de Cabecera del Segmento -->

    <!-- Inicio de la Sección del Plantel de la disiplina -->
    <div class="plantel">
        <h2>Plantel 2021</h2>
        <br>
        <a href="./les-jugadores.html#fm1"><img src="../imagenes/futbol-masculino/Bruno Piton.jpg"
                alt="Bruno-Piton" /></a>
        <a href="./les-jugadores.html#fm2"><img src="../imagenes/futbol-masculino/Carlos Colocha.jpg"
                alt="Carlos-Colocha" /></a>
        <a href="./les-jugadores.html#fm3"><img src="../imagenes/futbol-masculino/Diego Braile.jpg" alt="Diego-Braile">
        </a>
        <!-- 12 imagenes con enlaces a cada jugador de la pagina les jugadores -->
    </div>
    <!-- Fin de la Sección del Plantel de la disiplina -->

    <!-- Imagen Banner de Publicidad, invitando a hacer nuevos socios u otras cosas -->
    <div class="banner">
        <img src="../imagenes/Club/banner.jpg" alt="banner-de-publicidad"><!-- Imagen con publicidad -->
    </div>

    <!-- Inicio de la Galeria de Fotos de la disiplina -->
    <div class="galeria">
        <h3>Galeria de imagenes</h3>
        <img src="../imagenes/futbol-masculino/futbol-masculino-institucional-1.jpg" alt="Imagen-Institucional-1fm">
        <img src="../imagenes/futbol-masculino/futbol-masculino-institucional-2.jpg" alt="Imagen-Institucional-2fm">
        <img src="../imagenes/futbol-masculino/futbol-masculino-institucional-3.jpg" alt="Imagen-Institucional-3fm">
        <!-- 3 fotos de la Disiplina -->
    </div>
    <!-- Fin de la Galeria de Fotos de la disiplina -->

    <!-- Comienzo del Footer -->
    <footer class="pie">
        <p>Copyright © 2021 Club de Barrio</p>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
    </footer>
    <!-- Fin del Footer -->
</body>

</html>