<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../asset/estilos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/8e59f484ab.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap" rel="stylesheet">
    <title>Les Jugadores</title>
</head>

<body>

    <!-- Encabezado -->
    <header class="menu">
        <nav>
            <ul class="navegacion">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#">Disiplinas</a>
                    <ul>
                        <li><a href="./futbol-femenino.html">Fútbol Femenino</a></li>
                        <li><a href="./futbol-masculino.html">Fútbol Maculino</a></li>
                        <li><a href="./basquet-femenino.html">Basquet Femenino</a></li>
                        <li><a href="./basquet-masculino.html">Basquet Masculino</a></li>
                    </ul>
                </li>
                <li><a href="./les-jugadores.html">Jugadores</a></li>
                <li><a href="./el-club.html">El Club</a></li>
            </ul>
        </nav>
    </header>
    <!-- Fin de Encabezado -->

    <!-- Inicio de la cabecera-->
    <div class="jugadores">
        <h1>Les Jugadores</h1>
        <p>Estos son los jugadores y jugadoras que representan a nuestro club en las diferentes diciplinas</p>
    </div>
    <!-- Fin de la cabecera-->

    <!-- Inicio Banner publicitario -->
    <div class="banner">
        <img src="../imagenes/Club/banner.jpg" alt="banner-de-publicidad"><!-- Imagen con publicidad -->
    </div>
    <!-- Fin Banner publicitario -->

    <!-- Inicio del listado de todos los jugadores del Club -->
    <div class="contenedor">
        <!-- Bloque -->
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/basquet-femenino/Aida González.jpg" alt="Aida González" />
                <div class="tarjeta__textos">
                    <h3 id="bf1" class="tarjeta__titulo">Aida González</h3>
                    <p class="tarjeta__datos">
                        <a href="./basquet-femenino.html">Jugadora del Plantel Profesional de Basquet Femenino</a>
                    </p>
                    <p>
                        Edad: 22 años
                    </p>
                    <p>
                        Posición: Base
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/basquet-femenino/Avelina Caamaño.jpg" alt="Avelina-Caamaño" />
                <div class="tarjeta__textos">
                    <h3 id="bf2" class="tarjeta__titulo">Avelina-Caamaño</h3>
                    <p class="tarjeta__datos">
                        <a href="./basquet-femenino.html">Jugadora del Plantel Profesional de Basquet Femenino</a>
                    </p>
                    <p>
                        Edad: 29 años
                    </p>
                    <p>
                        Posición: Pivot
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/basquet-femenino/Clara Sanjuan.jpg" alt="Clara-SanJuan" />
                <div class="tarjeta__textos">
                    <h3 id="bf3" class="tarjeta__titulo">Clara SanJuan</h3>
                    <p class="tarjeta__datos">
                        <a href="./basquet-femenino.html">Jugadora del Plantel Profesional de Basquet Femenino</a>
                    </p>
                    <p>
                        Edad: 35 años
                    </p>
                    <p>
                        Posición: Alero
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/basquet-femenino/Avelina Caamaño.jpg" alt="Avelina-Caamaño" />
                <div class="tarjeta__textos">
                    <h3 id="bm1" class="tarjeta__titulo">Avelina-Caamaño</h3>
                    <p class="tarjeta__datos">
                        <a href="./basquet-femenino.html">Jugadora del Plantel Profesional de Basquet Femenino</a>
                    </p>
                    <p>
                        Edad: 29 años
                    </p>
                    <p>
                        Posición: Pivot
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/basquet-femenino/Avelina Caamaño.jpg" alt="Avelina-Caamaño" />
                <div class="tarjeta__textos">
                    <h3 id="bm2" class="tarjeta__titulo">Avelina-Caamaño</h3>
                    <p class="tarjeta__datos">
                        <a href="./basquet-femenino.html">Jugadora del Plantel Profesional de Basquet Femenino</a>
                    </p>
                    <p>
                        Edad: 29 años
                    </p>
                    <p>
                        Posición: Pivot
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img" src="../imagenes/basquet-masculino/Dart Tucker.jpg"
                    alt="Dart-Tucker" />
                <div class="tarjeta__textos">
                    <h3 id="bm3" class="tarjeta__titulo">Dart Tucker</h3>
                    <p class="tarjeta__datos">
                        <a href="./basquet-masculino.html">Jugadora del Plantel Profesional de Basquet Masculino</a>
                    </p>
                    <p>
                        Edad: 29 años
                    </p>
                    <p>
                        Posición: Pivot
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/futbol-femenino/Ainoa Clemente.jpg" alt="Ainoa-Clemente" />
                <div class="tarjeta__textos">
                    <h3 id="ff1" class="tarjeta__titulo">Ainoa Clemente</h3>
                    <p class="tarjeta__datos">
                        <a href="./futbol-femenino.html">Jugadora del Plantel Profesional de Fútbol Femenino</a>
                    </p>
                    <p>
                        Edad: 29 años
                    </p>
                    <p>
                        Posición: Delantera
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/futbol-femenino/Alba-leal.jpg" alt="Alba-leal" />
                <div class="tarjeta__textos">
                    <h3 id="ff2" class="tarjeta__titulo">Alba Leal</h3>
                    <p class="tarjeta__datos">
                        <a href="./futbol-femenino.html">Jugadora del Plantel Profesional de Fútbol Femenino</a>
                    </p>
                    <p>
                        Edad: 15 años
                    </p>
                    <p>
                        Posición: Defensora
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/futbol-femenino/Andres-Alcantara.jpg" alt="Andres Andres-Alcantara" />
                <div class="tarjeta__textos">
                    <h3 id="ff3" class="tarjeta__titulo">Andres Alcantara</h3>
                    <p class="tarjeta__datos">
                        <a href="./futbol-femenino.html">Director Técnico del Plantel Profesional de Fútbol Femenino</a>
                    </p>
                    <p>
                        Edad: 49 años
                    </p>
                    <p>
                        Posición: Director Técnico
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/futbol-masculino/Bruno Piton.jpg" alt="Bruno-Piton" />
                <div class="tarjeta__textos">
                    <h3 id="fm1" class="tarjeta__titulo">Bruno Piton</h3>
                    <p class="tarjeta__datos">
                        <a href="./futbol-masculino.html">Jugador del Plantel Profesional de Fútbol Masculino</a>
                    </p>
                    <p>
                        Edad: 24 años
                    </p>
                    <p>
                        Posición: Defensor
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/futbol-masculino/Carlos Colocha.jpg" alt="Carlos-Colocha" />
                <div class="tarjeta__textos">
                    <h3 id="fm2" class="tarjeta__titulo">Carlos Colocha</h3>
                    <p class="tarjeta__datos">
                        <a href="./futbol-femenino.html">Jugador del Plantel Profesional de Fútbol Masculino</a>
                    </p>
                    <p>
                        Edad: 27 años
                    </p>
                    <p>
                        Posición: Defensor
                </div>
            </div>
        </div>
        <br>
        <div class="contenedor__tarjeta">
            <div class="tarjeta">
                <!-- Bloque -->
                <img class="tarjeta__miniatura" class="tarjeta__img"
                    src="../imagenes/futbol-masculino/Diego Braile.jpg" alt="Diego-Braile" />
                <div class="tarjeta__textos">
                    <h3 id="fm3" class="tarjeta__titulo">Diego-Braile</h3>
                    <p class="tarjeta__datos">
                        <a href="./futbol-femenino.html">Jugador del Plantel Profesional de Fútbol Masculino</a>
                    </p>
                    <p>
                        Edad: 29 años
                    </p>
                    <p>
                        Posición: Delantero
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del listado de todos los jugadores del Club -->

    <!-- Comienzo del Footer -->
    <footer class="pie">
        <p>Copyright © 2021 Club de Barrio</p>
        <div class="redes">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
    </footer>
    <!-- Fin del Footer -->
</body>

</html>